[Unit]
Description=Run qBittorrent storage mover hourly

[Timer]
OnActiveSec=@RUN_INTERVAL@
OnUnitActiveSec=@RUN_INTERVAL@
RandomizedDelaySec=30s
Persistent=true
Unit=qbit-mover.service

[Install]
WantedBy=timers.target
